.login-form {
  width: 300px;
  margin: 100px auto;
  padding: 50px 40px 60px 40px;
  border: 2px solid #898989;
  border-radius: 3px;
}
.login-form h1 {
  text-align: center;
  color: #C4C4C4;
  font-size: 30px;
  padding: 20px 0 20px 0;
}
.login-form input{
  font-size: small;
}
.login-form input[type="password"],
.login-form input[type="email"] {
  width: 100%;
  padding: 20px;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
  box-sizing:border-box;
}
.login-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #C4C4C4;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.register{
  padding-top: 5px;
  margin: 0 auto;
  text-align: center;
}

.register a{
  color: black;
}
