@font-face {
  font-family: Oswald;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  src: url("../../fonts/Oswald-Regular.ttf");
}

nav{
  padding: 0 !important;
  margin-bottom: 0 !important;
  height: 6vh;
}

#nav {
  width: 100%;
  height:6vh;
  float: left;
  list-style: none;
  background-color: #C4C4C4;
  margin-bottom: 1px !important;

  li {
    float: left;
    img {
      height: 48px;
      padding: 3px 10px 0 0px;
    }

  }
  .logoText{
    font-family: Oswald, serif;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    color: #B3404A;
  }
  li:last-child{
    float: right;
    .logOut{
      height: 45px;
      padding: 10px 25px;
      margin-top: 5px;
    }
  }
}
