.container {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  border: #C4C4C4 solid 2px;
}
.carWrapper {
  font-size: medium;
  display: flex;
  margin: auto;
}
.carId {
  margin-right: 30%;
}
.newCarInputWrapper {
  display: flex;
}
.button {
  float: right;
}