.row {
  width: auto !important; /*override the width below*/
  width: 100%;
  height: 94vh;
}

.col {
  width: auto !important; /*override the width below*/
  width: 100%;
  height: 94vh;
}

.container-fluid{
  height: 94vh;
}