.transportColumn {
  background-color: #E5E5E5;
  border-radius: 4px;
  max-width: 100%;
  padding-top: 1px;
  height: 88vh;
  overflow-y: scroll;
}
.addTransport {
  width: 40px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.addTransport:hover {
  background-color: white;
  border-radius: 20px;
}
.transportColumn::-webkit-scrollbar-track
{
  border-radius: 5px;
  background-color: #E5E5E5;
}

.transportColumn::-webkit-scrollbar
{
  width: 6px;
  border-radius: 10px;
  background-color: #E5E5E5;
}

.transportColumn::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #C4C4C4;
}