.orderInputTile {
  background-color: #C4C4C4;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  font-size: 18px;
  max-width: 100%;

}

.deadline {
  font-size: 12px;
  width: 100% !important;
  margin: -1px, 3px, 1px, 0;

  padding-top: 4px;
}
input{
  z-index: 1 !important;
}
.orderName {
  font-size: 16px;
}
.orderRoute {
}
.orderAmount {



}